.landingContainer{
    margin-top: 10em;
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 3em;
    place-items: center;
    text-align: left;
}

.heroRight h1{
    font-weight: bolder;
    font-size: 2.3rem;
    line-height: 1.3em;
}

.heroRight{
    margin-top: -2em;
}

.hero{
    display: flex;
    justify-content: space-between;
    width: 60vw;
    gap: 50px;
}

.hero img{
    width: 25vw;
}

.heroRight{
    width: 70%;
}

.cta h1{
    font-weight: 500;
    line-height: 1.3em;
    font-size: 1.6rem;
    text-align: center;
}

.steps h1{
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
}

.steps{
    display: flex;
    flex-direction: column;
    padding: 70px 0;
}

.step p{
    font-size: 1.4rem;
}

.stepImages{
    gap: 30px;
    display: flex;
    width: 70vw;
    margin-top: 1em;
}

.stepImages img{
    width: 30rem;
}

.hero p{
    font-size: 1.2em;
}

.hero button{
    background-color: #FDB5CF;
    border-style: none;
    border-radius: 40px;
    color: black;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1.8rem;
    margin-top: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    letter-spacing: 0.1em;
    width: 100%;
}

.cta button{
    background-color: #FDB5CF;
    border-style: none;
    border-radius: 40px;
    color: black;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1.6rem;
    letter-spacing: 0.1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    width: 100%;
}

@media screen and (max-width: 1400px){
    .hero{
        display: flex;
        flex-direction: column;
        place-items: center;
        text-align: center;
    }
    .heroRight{
        width: 53vw;
    }
    .hero img{
        width: 65%;
    }
    .stepImages{
        flex-direction: column;
        place-items: center;
    }
}

@media screen and (max-width: 700px){
    .hero{
        display: flex;
        flex-direction: column;
        place-items: center;
        text-align: center;
    }
    .heroRight{
        width: 80vw;
    }
    .hero h1{
        font-size: 1.8rem;
    }
    .hero button{
        font-size: 1.6rem;
    }
    .stepImages img{
        width: 80vw;
    }
}

@media screen and (max-width: 900px){
    .hero{
        width: 100vw;
    }
}


@media screen and (max-width: 800px){
    .landingContainer{
        margin-top: 7em;
    }
}