.navbarContainer{
    display: flex;
    width: 65vw;
    justify-content: space-between;
    background-color: #FDB5CF;
    border-radius: 40px;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 0.25em;
    vertical-align: center;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
}

.logo h1{
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.2em;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navItems{
    width: 50%;
    display: flex;
    gap: 30px;
    padding: 23px 0;
    letter-spacing: 0.15em;
    justify-content: right;
}

.mobileNav{
    display: none;
    bottom: 0;
}

@media screen and (max-width: 800px){
    .navItems{
        display: none;
    }
    .mobileNav{
        display: flex;
        flex-direction: column;
    }
    .hamburger{
        font-size: 1.8rem;
        margin-top: 15px;
        left: 0;
        margin-left: auto;
    }
    .hamburger:hover{
        cursor: pointer;
    }
    .mobileNavItems{
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: right;
        background-color: #FDB5CF;
        padding-top: 1em;
        left: 0;
        justify-content: center;
        padding-bottom: 1.2em;
    }
    .mobileNavItems a{
        font-size: 1.2rem;
        width: 100%;
    }
    .logo{
        display: block;
    }
}