.frameCollections{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.frameCollection {
    width: 13em;          
    height: 8em;         
    background-color: #ffd2e2;
    color: #D85F8B;
    border: 2px solid #D85F8B;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
}

.photoboothContainer h3{
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.2em;
    margin-top: 4em;
}

.photoboothContainer a{
    margin-top: -1em;
    margin-bottom: 1.5em;
    color: #D85F8B;
    font-size: 1.2rem;
}

.photoboothContainer{
    width: 100%;
    place-items: center;
    display: flex;
    flex-direction: column;
}

.frameSelection img {
    width: 10rem;
}

.photoStrip img{
    width: 65%;
}

.frameSelection{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.frame {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.photoStrip h3{
    font-size: 1.5em;
    margin-top: 5em;
}

.photoStrip button{
    width: 10rem;
    color: #D85F8B;
    font-size: 1.2rem;
    border-color: #FDB5CF;
    border-width: 2px;
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    letter-spacing: 0.2rem;
    margin-bottom: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.photoStripButtons{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.selectButton{
    width: 10rem;
    color: #D85F8B;
    font-size: 1.5rem;
    border-color: #FDB5CF;
    border-width: 2px;
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    margin-top: 20px;
    letter-spacing: 0.2rem;
}

.confirmBtn{
    width: 10rem;
    color: #D85F8B;
    font-size: 1.5rem;
    border-color: #FDB5CF;
    border-width: 2px;
    background-color: white;
    border-style: solid;
    border-radius: 20px;
    margin-top: 20px;
    letter-spacing: 0.2rem;
    margin-top: 2em;
}

.confirmBtn:hover{
    cursor: pointer;
    background-color: #fdb5cf34;
}

.photoStrip button:hover{
    cursor: pointer;
    background-color: #fdb5cf34;
}

.confirmBtn:disabled {
    background-color: #ccc; 
    cursor: not-allowed;    
    opacity: 0.4;           
    color: black;
    border-color: black;
}

.cameraBtn:disabled{
    background-color: #ccc; 
    cursor: not-allowed;    
    opacity: 0.4;           
    color: black;
    border-color: black;
}

.selectButton:hover{
    cursor: pointer;
    background-color: #fdb5cf34;
}

.prompt{
    letter-spacing: 0.2em;
    font-size: 1.2rem;
    margin-top: 2em;
}

.photoCount{
    letter-spacing: 0.2em;
    font-size: 1.2rem;
    margin-top: 1.5em;
}

.cameraBtnContainer{
    place-items: center;
    width: 89%;
    position: absolute;
    bottom: 1.5em; 
    left: 50%; 
    transform: translateX(-50%); 
}

.cameraBtn{
    background-color: #FDB5CF;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 40px;
    color: black;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    font-size: 2.2rem;
}

.capturedPhotos button{
    width: fit-content;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: none;
    padding: 0;
}

.capturedPhotos img{
    margin-bottom: -0.2em;
    width: 30em;
}

.selectPhotoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    width: 100%;
}

.capturedPhotos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
}

.cameraBtn:hover{
    cursor: pointer;
}

.webcamContainer{
    border-style: solid;
    border-width: 2px;
    position: relative; 
    width: 85%;
}

.timer{
    position: absolute;
    top: 10%;
    margin-top: -0.5em;
    right: 0;
    transform: translateX(-50%);
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.webcamContainer {
    position: relative;
    width: 700px;
    height: 450px; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black; 
    border: 2px solid black;
}

.webcamContainer video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}  

.photoStrip{
    display: flex;
    flex-direction: column;
    place-items: center;
}

.flipCamBtn{
    display: none;
}
@media screen and (max-width: 800px){
    .capturedPhotos {
        display: flex;
        flex-direction: column;
        place-items: center;
    }
    .selectPhotoContainer{
        align-items: center;
    }
    .photoStrip img{
        width: 75%;
    }
}

@media screen and (max-width: 900px){
    .webcamContainer {
        width: 490px;
        height: 315px; 
        overflow: hidden;
        position: relative;
    }
    .cameraBtn{
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 600px){
    .webcamContainer {
        width: 350px;
        height: 225px; 
        overflow: hidden;
        position: relative;
    }
    .cameraBtn{
        font-size: 1.8rem;
    }
    .flipCamBtn{
        display: block;
    }
}